.founder {
    width: 100%;
    padding: 50px 0;
}

.founder-title {
    line-height: 75px;
    text-align: center;
    margin-bottom: 50px;
}

.founder__row {
    display: flex;
    justify-content: center;
}

.founder__row-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 358px 358px;

    &.--first {
        grid-gap: 25px;
        margin-right: 25px;
    }

    &.--second {
        margin-top: 80px;
        grid-gap: 40px;
    }
}

.founder__col {
    width: 100%;
    max-width: 540px;
    display: grid;
    grid-gap: 0 10px;
}

.founder__col.--first {
    align-items: flex-end;
    grid-template-columns: auto 282px;
}

.founder__col.--second {
    align-items: center;
    grid-template-columns: auto 282px;
}

.founder__col.--third {
    align-items: flex-end;
    grid-template-columns: 282px auto;
}

.founder__col.--fourth {
    align-items: center;
    grid-template-columns: 282px auto;
}

.founder__col-block {
    text-align: end;
}

.founder__col.--third .founder__col-block,
.founder__col.--fourth .founder__col-block {
    text-align: start;
}

.founder__block-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 10px;
    color: #fff;
}

.founder__block-text {
    max-width: 207px;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 0 0 auto;
    color: #fff;
}

.founder__col.--third .founder__block-text,
.founder__col.--fourth .founder__block-text {
    margin: auto 0 0 0;
}

.founder__col-img {
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}

.founder__col.--first .founder__col-img {
    border-radius: 100px 0px 0px 0px;
}

.founder__col.--second .founder__col-img {
    border-radius: 0px 0px 0px 100px;
}

.founder__col.--third .founder__col-img {
    border-radius: 0px 100px 0px 0px;
}

.founder__col.--fourth .founder__col-img {
    border-radius: 0px 0px 100px 0px;
}

@media (max-width: 992px) {

    .founder__col.--first,
    .founder__col.--second {
        grid-template-columns: 100px 212px;
    }

    .founder__col.--third,
    .founder__col.--fourth {
        grid-template-columns: 212px 100px;
    }
}

@media (max-width: 768px) {
    .founder__row {
        display: block;
    }

    .founder__row-item {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        margin: 0 !important;
    }

    .founder__row-item.--first {
        margin-bottom: 30px !important;

        .founder__col-block {
            order: 2;

            .founder__block-text {
                margin: 0 auto;
            }
        }
    }

    .founder__col {
        grid-template-columns: 1fr !important;
    }

    .founder__col-block {
        margin-top: 10px;
        text-align: center;
    }

    .founder__col-img {
        width: 100%;
        height: 300px;
    }

    .founder__col.--third,
    .founder__col.--fourth {
        .founder__col-img {
            border-radius: 0 0 0 100px;
        }

        .founder__col-block {
            text-align: center !important;
        }

        .founder__block-text {
            margin: 0 auto;
        }
    }

    .founder__col.--fourth {
        .founder__col-img {
            border-radius: 0 0 100px 0;
        }
    }
}

@media (max-width: 480px) {

    .founder {
        padding: 25px 0;
    }

    .founder__block-title {
        font-size: 22px;
    }

    .founder__block-text {
        max-width: 100%;
        font-size: 18px;
    }

    .founder-title {
        margin-bottom: 25px;
        line-height: 1.2em;
    }

    .founder__row-item {
        grid-template-columns: 1fr;
    }

    .founder__col-img {
        border-radius: 0 !important;
        background-position: center;
    }
}