@import "../base/mixins";

.project {
    width: 100%;
    padding: 50px 0;
}

.project__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}

.project-title {
    max-width: 428px;
}

.project__header-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #A1C5E9;

    &::after {
        content: '';
        width: 20px;
        height: 13px;
        display: inline-block;
        margin-left: 20px;
        background-image: url(../img/arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

.project__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-gap: 30px;
}

.project__col {
    border-radius: 10px;
    @include imageBackground(no-repeat, cover, center);
}

@media (max-width: 768px) {
    .project__header {
        align-items: center;
    }
    .project__row {
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
    }
}

@media (max-width: 480px) {
    .project {
        padding: 25px 0;
    }
}